body {
    width: 100vw;
    height: 100vh;
    
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
}

.grid-square:hover {
    background-color: grey;
} 
  

