body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}





.grid-square:hover {
    background-color: grey;
} 

.grid-container {
    width: 960px;
    height: 960px;
    display: grid;
    border: 1px solid black;
  }
  
.grid-square {
    background-color: white;
    border: 1px solid black;
    height: 50px;
    width: 50px;
  }

